<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facturaci&oacute;n</title>
    <script src="http://localhost/svphp/Resource/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="http://localhost/svphp/Resource/materialize/js/materialize.min.js" type="text/javascript"></script>
    <script src="http://localhost/svphp/Resource/js/jquery.validate.js" type="text/javascript"></script>
    <script src="http://localhost/svphp/Resource/js/config.js" type="text/javascript"></script>
    <script src="http://localhost/svphp/Resource/js/funciones.js" type="text/javascript"></script>
    <script src="http://localhost/svphp/Resource/js/Usuarios.js" type="text/javascript"></script>
    <script src="http://localhost/svphp/Resource/js/app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://localhost/svphp/Resource/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="http://localhost/svphp/Resource/css/style.css">

</head>
<body>
    <nav>
        <div class="nav-wrapper cyan darken-2">
            <a href="#!" class="brand-logo center">
                <i class="material-icons">
                    
                </i>
                Sistema de Facturaci&oacute;n
            </a>
        </div>
    </nav>
   