# Activar RewriteEngine

RewriteEngine on

#Esta Condicion es verdadera cuando la ruta al REQUEST_FILENAME no hace referencia a una que existe en el.

RewriteCond %{REQUEST_FILENAME} !-d

#Esta condicion es verdadera cuando la ruta al REQUEST_FILENAME no hace referencia a uno archivo existente en el servidor.
RewriteCond %{REQUEST_FILENAME} !-f

#la parte ^ (. *) $ le dice al modulo de reescritura que queremos pasar la rutacompleta solicitada como un parametro.
#la parte de QSA le dice al modulo que anexe cualquier cadena de consulta a la solicitud.

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]