<div class="container">
    <div class="ro">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-content">
                    <center>
                        <h4>Iniciar Sesi&oacute;n</h4>
                    </center>
                    <form method="post" id="login">
                        <div class="input-field col s12">
                            <input id="email" name="email" class="validate" type="email" required>
                            <label for="email" class="error">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="password" name="password" id="password" class="validate" minlength="4" maxlength="20" required>
                            <label for="password" class="error">Contraseña</label>
                        </div>
                    </form>
                    <center>
                        <button onclick="loginUser();" id="btnlogn" class="waves-effect waves-light btn">Iniciar sesi&oacute;n</button>
                    </center>
                    <br>
                    <!-- Para mostrar el error de inicio de session -->
                    <label id="indexMessage" class="error"></label>
                </div>
            </div>
        </div>
    </div>
</div>